/* Page Formatting */

* {
	margin:0;
	padding:0;
}

body {
	background-color:#ffffff;
	font:12px "Trebuchet MS", Arial, Verdana;
	color:#555555;
	text-align:left;
}

a {
	color:#8bbc70;
	text-decoration:none;
	}

a:hover {
	color:#555555;
	text-decoration:none;
	}

img, img a {
	border:0;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:18px;
}

h3 {
	font-size:14px;
}

/* Header Area */
#topLine {
	height:50px;
	border-bottom:15px solid #DEEAFA;
}

#header {
	width:693px;
	margin:10px auto 0px auto;
	padding:10px;
}
	
#header h1 {
	width:220px;
	margin:25px 0 0 0;
	background:#ffffff;
	padding:5px 0px 5px 20px;
}

#header h1 span {
	color:#8bbc70;
	font-size:110%;
}

#header h1 span.lastUpdate {
	color:#555555;
	font-size:11;
	padding:0px 0px 5px 30px;
}

#header ul.nav {
	margin:10px 0 0 0;
	padding:15px 0 0 0;
	float:right;
}

#header ul.nav li {
	display:inline;
	padding:5px 10px 5px 5px;
}

#header ul.nav li a{
	padding:5px 10px 5px 5px;
}

#header ul.nav li.active {
	margin:0;
	padding: 5px 5px 0px 5px;
	background:url(images/nav_corn_l.gif) no-repeat top left;
}


#header ul.nav li.active a {
	padding:5px 10px 0px 5px;
	display:inline;
	background:url(images/nav_corn_r.gif) no-repeat top right;
	color:#555555;
}


/* Page Wrappers */
#outerwarrper {
	width:693px;
	margin:30px auto 0 auto;
	padding:10px;
	background:#fff url(images/top_curve.gif) repeat-y 10px 0px;
	clear:both;
}

#wrapper {
	margin-top:1px;
	float:left;
	width:693px;
	background:#fff url(images/content_bg.gif) repeat-y top left;
}

/* Content Area */
.firstHeading {
	width:430;
	line-height:1.7em;
	margin-bottom:20px;
	margin-right:20px;
	margin: 0 20px 0 20px;
	padding: 20px 5px 0 5px;
	border-bottom: 5px solid #8bbc70;
}

.heading {
	padding:100px;
	line-height:1.7em;
	margin-bottom:20px;
	margin-right:20px;
	margin: 0 20px 0 20px;
	padding: 20px 5px 0 5px;
	border-bottom: 5px solid #8bbc70;
}

p {
	margin: 0px 20px 0px 20px;
	padding: 10px 5px 0px 5px;
	text-align:justify;
}

p img {
	float:left;
	padding-right:15px;
	padding-left:15px
}


/* Sidebar Area */

.sidebar {
	margin:40px 20px 10px 10px;
	border:1px solid #dfdfdf;
	width:203px;
	background: url(images/bg-sidebar.gif) repeat top right;
	float:right;
}


.sidebar h3 {
	padding:10px 10px 0px 10px;
	text-align:center;
	border-bottom:2px solid #dfdfdf;	
}

.sidebar p {
	margin:0 20px 0 0px;
	padding:5px 0px 10px 10px;
	text-align:justify;
}

.sidebar ul {
	padding-left:20px;
	padding-bottom:10px;
	text-align:justify;
}

.sidebar img {
	width:90px;
	margin:0px 0px 5px 5px;
	float:left;
	border:2px solid #dfdfdf;	
}

/* Footer Area */
#footer {
	clear:both;
	width: 693px;
	margin:0 auto 0 auto;
	padding:55px 0 0 0;
	background:url(images/bottom_curve.gif) no-repeat top left;
}

#footer p {
	text-align:center;
	margin:0;
	padding:0px;
	line-height:1.3em;
}

.xhtmlButton {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	vertical-align: middle;
	height:20px;
}


code {
	background-color: ghostWhite !important;
	border: 1px solid #DEDEDE !important;
	color: #444 !important;
	font-size: 12px !important;
	padding: 0px 0.2em !important;
}

.codebox {
	width:630px;
	height:150px;
	margin-left:25px; 
	margin-top:10px; 
	margin-bottom:0.5em;
}
